@font-face {
    font-family: "MuliBlack";
    src: url('fonts/muli/Muli-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html * {
font-family: "MuliBlack", sans-serif;
font-size: 12pt;
color: #FFFFFF;
}

h1 {
font-weight: 700;
font-size: 42pt;
padding-top: 30pt;
padding-bottom: 30pt;
}

.flex { 
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
