html * {
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: larger;
color: #FFFFFF;
}

h1 {
font-weight: 700;
font-size: 80pt;
padding-top: 20;
padding-bottom: 20;
}

p {
    margin-block-start: auto;
    margin-block-end: auto;
}

.flex { 
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
